<a class="cards-container__card" href="/<%= `${path}${data.id}` %> ">
  <article>
    <p class="cards-container__card__category">CATEGORY</p>
    <h3 class="cards-container__card__title">TITLE</h3>
    <p class="cards-container__card__author">AUTHOR</p>
    <p class="cards-container__card__date">DATE</p>
  </article>
</a>
