<%- include('../partials/header.ejs', {css:"./style/css", js:"./js"}) %>

<main class="container">
  <%- include('../partials/slug.ejs') %>

  <!-- Display all cards -->
  <section class="cards-container">

    <% for( const article of articles ) { %> 
        <%- include('../partials/cards.ejs', {path:`articles/`, data: article}) %> 
    <% } %>

  </section>
</main>

<%- include('../partials/footer.ejs') %>
